<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
</head>

<body>
    <h3>Data view</h3>

    <!-- OnClick subscribe -->
    <button onclick="sendMsg()">Connect</button>

    <br><br>
    <div id="data_view"></div>
</body>

<script>

    // Messager broker URL
    URL = 'ws://' + window.location.hostname + ':7777'
    console.log(URL);

    // Web socket
    const socket = new WebSocket(URL)

    socket.addEventListener('open', function (event) {
        console.log('Connected to the WS Server!')
    });

    socket.addEventListener('close', function (event) {
        console.log('Disconnected from the WS Server!')
    });

    // Receive broadcast and print in webpage
    socket.addEventListener('message', function (event) {
        let json_data = JSON.parse(event.data)
        let data = ''

        for (key in json_data) {
            data += key + '<br>'
            for (sensor in json_data[key]) {
                data += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + sensor + ' : ' + json_data[key][sensor] + '<br>'
            }
            data += '<br><br>'

        }

        document.getElementById("data_view").innerHTML = data

    });

    // Subscribe
    const sendMsg = () => {
        socket.send('{"type": "subscribe"}');
    }


</script>

</html>